h1{

  color:#000000
  ;
font-family: fantasy;
font-size: 48pt;
}
body {
  background-color:#FFFFCC;
  font-family: fantasy;
  font-size: 24pt;
}
button{
  color:#000000;
  background-color: #009900;
font-family: fantasy;
font-size:38pt;}
/* changed font family and size of text elements, added green
 to buttons*/





 /* Add a black background color to the top navigation */
.topnav {
  background-color: #aaa;
  overflow: hidden;
  font-size: 38pt;
  }


/* Style the links inside the navigation bar */
/* increased font size*/

.topnav a {
  float: left;
  color: blue;
  text-align: center;
  padding: 5px 12px;
  text-decoration: underline;
  font-size: 38px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #aaa;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: white;
  color: black;
}

#textbox {
  height: 30px;
  font-size: 20pt;
  font-family: fantasy;
}

#textarea {
  font-size: 20pt;
  font-family: fantasy;
}

select {
  font-size:80px
}
