<!DOCTYPE html>
<hmtl>
<head>
  <title>Create Questions</title>
</head>
<body>
  <form action="/create" method="post">
    <input name="category" type="text"> </input>
    <br />
    <textarea name="code" rows="30" cols="30" placeholder="Enter code here"></textarea>
    <br />
    <button name="action" value="view">View</button>
    <br />
    <textarea rows="30" cols="30" readonly>{{ sample }}</textarea>
    <br />
    <button name="action" value="store">Store</button>
  </form>
</body>
</html>
