<!DOCTYPE html>
<html>
<head>
  <title>My Previous Questions</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/retrieve">Retrieve Question</a>
    <a href="/create">Create Question</a>
    <a href="#previous">Your Previously Used Questions</a>
  </div>
<h1>
  Here you will find a bank of
  questions you have used

</h1>
<p1>
  <button value="home"> Back to Home </button>
</p1>
</body>
</html>
