<!DOCTYPE html>
<html>
<head>
  <title>HOMEPAGE</title>
  <meta charset="UTF-45">
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/retrieve">Retrieve Question</a>
  <a href="/create">Create Question</a>
</div>
<form action="/retrieve" method="post">
  <label for="search_method">Question search method: </label>
  <select name="search_method" id="search_method">
    <option disabled selected></option>
    <option value="category">Category Only</option>
    <option value="author">Author Only</option>
    <option value="both">Category & Author</option>
  </select>
  <br />
  <label for="choices"> Choose a Category: </label>
  <input type="text" name="category">
  <br />
  <p3>
    <label for="author"> Choose an author: </label>
    <input type="text" name="author" placeholder="author">
  </p3>
  <br />
  <p4>
  <label for="number_of_questions"> How many questions would you like?: </label>
  <input type="text" name="numQs" placeholder="#"></textarea>
  <br />
  <button type="submit">Get random questions</button>
  <br />
  <textarea rows="30" cols="30" readonly>{{ questions }}</textarea>
</form>

</html>
