<!DOCTYPE html>
<html>
<head>
  <title>HOMEPAGE</title>
  <meta charset="UTF-45">
  <link rel="stylesheet" href="style.css">
  <style>
  body {background-color:#99FF99; }
  h1 {color:#330099; }
  </style>
</head>
<body>
<h1>
  Welcome to our Teacher Help Teachers homepage
</h1>
<form action="/retrieve" method="post">
  <p1>
    <button name="home">Back To Home</button>
  </p1>
  <br>
  <p2>
  <label for="choices"> Choose a problem type: </label>
  <select name= "cars" id="cars">
    <optgroup label="something">
      <option value="code type 1">CODE 1</option>
    </optgroup>
    <optgroup label="Something2">
      <option value="code type 2">CODE 2</option>
    </optgroup>
  </select>
  </p2>
  <br>
  <p3>
  <label for="Number of problems"> How many questions would you like?: </label>
  <select name= "one" id="one">
      <option value="value 1-20"> value 1-20</option>

  </select>
  </p3>
  <p4>
    <! I can't fingure out how to put a  for the output here box here. -->
    <output name="result"></output>
  </p4>
  <br>
    <p5>
      <button class="button">Begin Search</button>
    </p5>
    <br>
    <br>
    <br>
    <br>
    <button class="button" name="route" value="create">Make a question</button>
</form>

</html>
